@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

html {
	height: 100%;
}

body{
	background-color: hsl(0, 0%, 98%);
	min-height: 100%;
	display:flex;
	flex-direction: column;
	background-color: #fffbea!important;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 20px;
	margin: 10px;
}

.thumbnail{
	width: 100%;
	height: 300px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.is-black{
	background-color: #CDC2AE!important; 
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

.row-image{
	width: 100px;
}

.form-field{
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display:inline;
	font-weight: 700;
	padding-right:10px;
}

.prices {
    display: block;
    float:right;
}

.table-row td{
	display: inline;
	padding: 5rem;
}

.chg-quantity{
	width: 10%; 
	cursor: pointer;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}

#user-name {
	color:hsl(0, 0%, 88%);
	font-weight: bold;
	cursor: pointer;
	transition: ease-in  0.2s;
	opacity:0.6;
}

#user-name:hover {
	opacity:1;
}

#user-info {
	display: inline-flex;
}

#shipping-info {
	display:grid;
}

.column {
	display: flex;
}

.product-detail {
	align-items: center;
	width: 50%;
}

.btn-go-back {
	margin-bottom:20px;
}

.search-bar {
	margin: 2rem 0 0 0;
}

footer {
	background-color: #CDC2AE!important;
}