{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<section class="section">
    <div class="container">
        <a class="button btn-go-back is-info is-outlined" href="{% url 'store' %}">Go Back</a>
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img src="{{ product.imageURL }}" alt="">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p class="product-description">
                            <strong>{{product.name}}</strong>
                            <p>{{ product.description}}</p>
                            <div class="block my-5">
                                {% if product.is_pdf %}
                                    <span class="tag is-danger is-light">PDF</span>
                                {% endif %}
                                {% if product.is_ebook %}
                                    <span class="tag is-info is-light">E-BOOK</span>
                                {% endif %}
                                {% if product.is_physical %}
                                    <span class="tag is-success is-light">PHYSICAL</span>
                                {% endif %}
                            </div>
                            <hr>
                        </p>
                        
                        <button data-product="{{product.id}}" data-action="add"
                                class="button is-secondary is-light is-small update-cart">Add To Cart</button>
                        <h4 class="prices">${{product.price|floatformat:2}}</h4>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

{% endblock content %}